{% extends "base.html" %}

{% block main %}
<h1 class="page-header"><i class="fa fa-phone"></i> Contact a Consultant </h1>
<ul>
    <li> <a href= "https://www.google.com/doodles/googles-22nd-birthday"> Dr....... </a></li>

    <li> <a href= "https://www.google.com/doodles/bolivia-independence-day-2020"> Dr........ </a></li>

    <li> <a href= "https://www.google.com/doodles/copa-america-2015-finals"> Dr........ </a></li>
    
    <li> <a href= "https://www.google.com/doodles/155th-anniversary-of-juneteenth"> Dr....... </a></li>
    
</ul>
{% endblock %}